# =============================
# Python
# =============================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# test reports
reports/
report.html
*.html

# =============================
# Docker & Env
# =============================

*.log
docker-compose.override.yml
.env.*
!.env
.env.local

# =============================
# Python Extras
# =============================

*.pyo
*.pyd
*.pdb
*.tmp
*.temp
*.bak

# =============================
# Reports / Allure / JUnit
# =============================

# allure-results/
# allure-report/
# *.xml

# =============================
# IntelliJ IDEA / PyCharm
# =============================

# Ignore entire .idea except selected configs
.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
.idea/shelf/
.idea/tasks.xml
.idea/workspace.xml
.idea/dictionaries/
*.iws
*.ipr
*.iml

# IDEA build artifacts
.idea/libraries/
.idea/jarRepositories.xml
.idea/compiler.xml

# =============================
# Java & Maven/Gradle
# =============================

target/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
!.mvn/wrapper/maven-wrapper.jar

# =============================
# VSCode
# =============================

.vscode/
.vscode/*.code-workspace
.vscode/*.db

# =============================
# Pipenv / Poetry
# =============================

Pipfile.lock
poetry.lock
*.lock

# =============================
# OS Specific
# =============================

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~